.btn-margin {
  margin: 7px 3px;
}

/* todos css */
.list-group-item {
  padding: 2.2em;
  border: 2px solid black;
}

.list-group-item h4 {
  display: inline;
  margin-left: 2.5em;
}

.list-group-item button {
  margin-bottom: 4px;
}

.logout {
  background-color: brown;
  /* position: relative;
  left: 80vw; */
}
